@font-face {
    font-family: "Futura Md BT";
    src: local(Futura), url(fonts/Roboto-Medium.ttf);

}
@font-face {  
    font-family: "Futura Regular";
    src: local(Futura), url(fonts/Roboto-Regular.ttf);
}


body{
    font-family: "Futura Md BT";
    background-color: #100E30;
    color:#DBD6B8;
    margin: 0 auto;
    padding-top: 0 !important;
    padding-bottom: 2rem;
}

nav{
    padding: 0;
    margin-top: -8rem;
    width: 100%;
    display: flex;
    position: fixed ;
    background-color: #100E30;
    z-index: 99;
    justify-content: flex-end;
    /* margin-left: -3rem; */
}

nav li{
    margin: 0rem 2rem;
    float: right;
    list-style: none;
    margin-left: 20px;
}

nav a{
    text-decoration: none;
    color: white;
}

nav a:hover{
    color: #b7bcca;
    transition: all 0.2s ease-in;
}

nav a:active{
    color: #4f65b3;
} 


h1{
    margin: 2rem;
    margin-top: 8rem;
    padding: 20px 0;
    font-size: 80px;
    font-family: "Futura Regular" ;
}

h2{
    margin: 2rem;
    font-size: 20px;
}
.contact-title{
    margin: 0rem;
    margin-top: 8rem;
    font-size: 25px;
}

h3{
    margin: 2rem;
    margin-top: 8rem;
    font-size: 25px;
}



.about-me p{
    margin: 2rem;
    font-size: 20px;
    text-align: justify;
    max-width: repeat(auto-fit, minmax(550px, 1fr));
}

.image img{
    margin: 2rem;
    display: block;
   /* position: absolute; */
   margin-top: 0.1rem;
   margin-right: 1rem;
   width: 500px;
   height: 500px;
   float: right;
   border-radius: 50%;
   border: 3px solid white;
}


.projects{
    margin: 4rem;
    height: 150px;
    width: auto;
    border: 1px solid white;
    padding: 1rem 2rem;
}
.projects h4{
    margin-top: auto;
    font-size: 22px;
}
.projects a{
    text-decoration: none;
    color: rgb(53, 53, 182);
    line-height: 5rem;

}

.projects a:hover{
    color: rgb(33, 49, 121);
    transition: all 0.2s ease-in;
}

.container-progress ul{
    margin: 2rem;
    list-style: none;
    display: grid;
    margin-left: -2rem;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    column-gap: 3rem;
    row-gap: 3rem;
}

.container-progress li {
    margin: 0rem 2rem 0rem 2rem;
    display: flex;
    align-items: center;
    
}
.title span{
    margin-left: 0.1rem;

}

.progress-bar01{
    width: 500px;
    height: 25px;
    background-color: white ; 
    position: relative;
    border-radius: 50px; 
}
.progress-bar01 .progress-bar02{
   position: absolute;
   width: 500px;
   height: 25px;
   background-color: #CCC;
   animation: progress-animation01 3s both; 
   border-radius: 15px;
   
}

@keyframes progress-animation01{
    0% { width: 0%; } 
    100% { width: 90%}
}

.progress-bar01 .progress-bar03{
    position: absolute;
    width: 500px;
    height: 25px;
    background-color: #CCC;
    animation: progress-animation02 3s both; 
    border-radius: 15px;
    
 }

 @keyframes progress-animation02{
    0% { width: 0%; } 
    100% { width: 70%}
}

.progress-bar01 .progress-bar04{
    position: absolute;
    width: 500px;
    height: 25px;
    background-color: #CCC;
    animation: progress-animation03 3s both; 
    border-radius: 15px;
    
 }

 @keyframes progress-animation03{
    0% { width: 0%; }
    100% { width: 40%}
}

.progress-bar01 .progress-bar05{
    position: absolute;
    width: 500px;
    height: 25px;
    background-color: #CCC;
    animation: progress-animation04 3s both; 
    border-radius: 15px;
    
 }

 @keyframes progress-animation04{
    0% { width: 0%; }
    100% { width: 70%}
}

.progress-bar01 .progress-bar06{
    position: absolute;
    width: 500px;
    height: 25px;
    background-color: #CCC;
    animation: progress-animation05 3s both; 
    border-radius: 15px;
    
 }

 @keyframes progress-animation05{
    0% { width: 0%; }
    100% { width: 40%}
}

.image-languagens img{
    height: 61px;
    margin-right: 1.5rem;
    width: 50px;
}

#div01{
    margin: 0rem 2rem;
    display: inline-block;

}

#div02{
    margin-left: 15rem;
    display: inline-block;
    width: 400px;  
    /* padding-top: 15.4rem;   */
    
}

#div01 #contact{
    margin-left: auto;
}

.my-contacts {
    text-align: left;
    margin-top: 4rem;
    /* align-items: center; */
    /* align-content: flex-end; */

    
}

.my-contacts span{
    font-weight: bold;
    font-size: large;
}

.my-contacts img{
    margin-top: 2rem;
    margin-left: 7rem;
    max-width: 40px;
    /* max-height: fit-content;     */

}
.container-contact{
    display: flex;
    align-items: flex-start;
}

.form{
    display: inline-block;
    position: relative;
    padding-left: 100px;
}

.field{
    margin-top: 2rem;    
}

.field label{
    line-height: 2rem;
}

.form input{
    color: white;
    display: block;
    border-radius: 5px;
    background-color: #212C52;
    height: 25px;
    width: 400px;
    border: none;
}

.form input:focus{
    box-shadow: 0 0 0 0;
    outline: none;

}

.form .message{
    display: block;
    border-radius: 5px;
    background-color: #212C52;
    height: 100px;
    width: 400px;
    border: none;
    outline:none;
    color: white;

}

.form .button-form{
    background-color: #4f65b3;
    outline: none;

}

.form .input-send{
    margin-left: auto;
    background-color: #DCD3FF;
    color: black;
    border-radius: 5px;
    margin-top: 2rem;
    height: 35px;
    width: 110px;
    cursor: pointer;

}
.form .input-send:hover{
    background-color: #a3a6ad;
    transition: all 0.2s ease-in;
    outline: none;
}