@font-face {
    font-family: "Futura Md BT";
    src: local(Futura), url(fonts/FuturaMediumBT.ttf);

}
@font-face {  
    font-family: "Futura Regular";
    src: local(Futura), url(fonts/FutuMdIt.ttf);
}

body{
    font-family: "Futura Md BT";
    background-color: #100E30;
    color:#DBD6B8;
    margin: 2rem 2rem;
}
h1{
    font-size: 80px;
    font-family: "Futura Regular" ;
}

h2{
    font-size: 20px;
}

h3{
    margin-top: 8rem;
    font-size: 25px;
}

.about-me p{
    font-size: 20px;
    max-width: repeat(auto-fit, minmax(650px, 1fr));
}

.image img{
   /* position: absolute; */
   margin-top: 0.1rem;
   margin-right: 10rem;
   width: 240px;
   height: 250px;
   float: right;
   /* opacity: 0.6; */
   border-radius: 50%;
}


.container-progress ul{
    list-style: none;
    display: grid;
    margin-left: -2rem;
    grid-template-columns: repeat(auto-fit, minmax(650px, 1fr));
    column-gap: 3rem;
    row-gap: 3rem;
}

.container-progress li {
    display: flex;
    align-items: center;
    
}
.title span{
    margin-left: 0.1rem;

}

.progress-bar01{
    width: 500px;
    height: 25px;
    background-color: white ;
    position: relative;
    border-radius: 50px;
}
.progress-bar01 .progress-bar02{
   position: absolute;
   width: 500px;
   height: 25px;
   background-color: #CCC;
   animation: progress-animation 3s both; 
   border-radius: 15px;
   
}

@keyframes progress-animation{
    0% { width: 0%; } 
    100% { width: 90%}
}

.image-languagens img{
    height: 61px;
    margin-right: 1.5rem;
    width: 50px;
}

.websites img{
    width: 60px;
    padding: 30px;
}