@font-face {
    font-family: "Futura Md BT";
    src: local(Futura), url(fonts/FutuMd.ttf);

}
@font-face {  
    font-family: "Futura Regular";
    src: local(Futura), url(fonts/FutuMdIt.ttf);
}

body{
    font-family: "Futura Md BT";
    background-color: #100E30;
    color:white;
    margin: 2rem 2rem;
}
body h1{
    font-size: 60px;
    font-family: "Futura Regular" ;
}

.image img{
   /* position: absolute; */
   margin-top: 0.1rem;
   width: 340px;
   height: 350px;
   float: right;
   /* opacity: 0.6; */
   border-radius: 50%;
}

.passions-list ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 3rem;
    row-gap: 4rem;
}
/* .passions-list p{
    /* max-width: 100px;
    max-height: 100px; */
/* } */ 

.container-progress ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(650px, 1fr));
    column-gap: 3rem;
    row-gap: 4rem;
}

.container-progress li {
    display: flex;
    align-items: center;
    
}



.title span{
    margin-left: 0.1rem;
    

}


.progress-bar01{
    width: 500px;
    height: 25px;
    background-color: white ;
    position: relative;
    border-radius: 50px;
}
.progress-bar01 .progress-bar02{
   position: absolute;
   width: 500px;
   height: 25px;
   background-color: #CCC;
   animation: progress-animation 3s both; 
   border-radius: 15px;
   
}

@keyframes progress-animation{
    0% { width: 0%; } 
    100% { width: 90%}
}

.image-languagens img{
    height: 61px;
    margin-right: 1.5rem;
    width: 50px;
}